.emaillist{
    flex: 1;
    overflow: scroll;
}
.emaillist__setting{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
    height: 80px;
}
.emaillist__sections{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}